<footer class="site-footer">

  <div class="center">

    <ul class="logo">
      <li>
        <a href="https://twitter.com/jasmine_elm"><img class="miniicon" src="/images/twitter.svg" alt "Twitter" /></a>
      </li>
      <li>
        <a href="https://github.com/JasmineElm"><img class="miniicon" src="/images/github.svg" alt "Github" /></a>
      </li>
      <li>
        <a href="https://www.behance.net/jasmineelm"><img class="miniicon" src="/images/behance.svg"
            alt "Behance" /></a>
      </li>
      <li><a href="https://www.goodreads.com/user/show/92143072-james-lemin"><img class="miniicon"
            src="/images/goodreads.svg" alt "Goodreads" /></a></li>
      <li><a href="https://www.last.fm/user/Bronson59"><img class="miniicon" src="/images/lastfm.svg"
            alt "last.fm" /></a></li>
      <li><a href="https://letterboxd.com/jasmineelm/"><img class="miniicon" src="/images/letterboxd.svg"
            alt "Letterboxd" /</a></li>

      <li>
        <a href="feed.xml"><img class="miniicon" src="/images/rss.svg" alt "rss feed" /></a>
      </li>
    </ul>
  </div>
</footer>
