/**
 * Site header
 */
.site-header {
  // border-top: 5px solid $base02;
  // border-bottom: 1px solid $base02;
  min-height: 5em;
  line-height: 2em;
  // color: $base02;

  // Positioning context for the mobile navigation icon
  position: relative;
}



.site-title {

  font-size: 4em;
  font-weight: 200;
  line-height: 1.5em;
  min-height: auto;
  // letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  

  &:visited {
    color: $base02;
  }
}

.site-nav {
  float: right;
  vertical-align: baseline;
  // line-height: 2em;
  margin-top: 2.5em;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $background-color;
    border: 1px solid $base3;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 20%;
      height: 2em;
      line-height: 0;
      padding-top: .5em;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $base03;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('img/28.jpg');
  
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;
  overflow: hidden;

  > li {
    margin-bottom: $spacing-unit;
  }
}

ul.logo {
  cursor: default;
  margin: 0;
}

ul.logo li {
  position: relative;
  display: inline-block;
  margin: 1.25em;
  top: 0;
}

ul.logo li a {
  display: block;
  border-radius: 12px;
  top: 0;
  position: relative;
  float: none;
  -moz-transition: top 0.2s ease-in-out;
  -webkit-transition: top 0.2s ease-in-out;
  -o-transition: top 0.2s ease-in-out;
  -ms-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
}

ul.logo li a:hover {
  top: -5px;
}

ul.actions li {
  display: inline-block;
  margin: 0 0 0 1em;
}

ul.actions li:first-child {
  margin-left: 0;
}

.miniicon {
  width: 24px;
  height: 24px;
}

.postblock {
  color: $base00;
  text-decoration: none;
}

/*
 *Post Categories
 */
.code {
  background-color: $base02;
  color: $base2;

  // margin: auto 2;
  -webkit-transition-property: color, background-color;
  /* Safari */
  -webkit-transition-duration: 0.5s;
  /* Safari */
  -webkit-transition-delay: 0s;
  /* Safari */
  transition-property: color, background-color;
  transition-duration: 0.5s;
  transition-delay: 0s;
  text-decoration: none;

  &:hover {
    color: desaturate(darken($base02, 50),40);
    background-color: desaturate(lighten($base2, 50), 40);
  }
}

.writing {
  background-color: $base2;
  color: $base02;

  // margin: auto 2;
  -webkit-transition-property: color, background-color;
  /* Safari */
  -webkit-transition-duration: 0.5s;
  /* Safari */
  -webkit-transition-delay: 0s;
  /* Safari */
  transition-property: color, background-color;
  transition-duration: 0.5s;
  transition-delay: 0s;
  text-decoration: none;

  &:hover {
    color: desaturate(lighten($base2, 50),40);
    background-color: desaturate(darken($base02, 50), 40);
  }
}

.sound {
  background-color: $base3;
  color: $base03;

  &:hover {
    text-decoration: none;
    color: darken($base03, 10);
    background-color: lighten($base3, 10);
  }
}

/**
 * Icons
 */
// .icon {
//
//     > svg {
//         display: inline-block;
//         width: 16px;
//         height: 16px;
//         vertical-align: middle;
//
//         path {
//             fill: $base02;
//         }
//     }
// }

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
