/**
 * Syntax highlighting styles
 */
/**
colours below maintained in the
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
*/


/**
 * Syntax highlighting styles
 */
.highlight {
    background: $base03;
    @extend %vertical-rhythm;}

    //.hll { background-color: #49483e }
    .c { color: $base01 } /* Comment */
    .err { color: $red; background-color: $base2 } /* Error */
    .k { color: $green } /* Keyword */
    .l { color: $cyan } /* Literal */
    .n { color: $base0 } /* Name */
    .o { color: $red } /* Operator */
    .p { color: $base0 } /* Punctuation */
    .cm { color: $base01 } /* Comment.Multiline */
    .cp { color: $base01 } /* Comment.Preproc */
    .c1 { color: $base01 } /* Comment.Single */
    .cs { color: $base01 } /* Comment.Special */
    .ge { font-style: italic } /* Generic.Emph */
    .gs { font-weight: bold } /* Generic.Strong */
    .kc { color: $green } /* Keyword.Constant */
    .kd { color: $green } /* Keyword.Declaration */
    .kn { color: $red } /* Keyword.Namespace */
    .kp { color: $green } /* Keyword.Pseudo */
    .kr { color: $green } /* Keyword.Reserved */
    .kt { color: $green } /* Keyword.Type */
    .ld { color: $cyan } /* Literal.Date */
    .m { color: $cyan } /* Literal.Number */
    .s { color: $cyan } /* Literal.String */
    .na { color: $blue } /* Name.Attribute */
    .nb { color: $base0 } /* Name.Builtin */
    .nc { color: $blue } /* Name.Class */
    .no { color: $green } /* Name.Constant */
    .nd { color: $blue } /* Name.Decorator */
    .ni { color: $base0 } /* Name.Entity */
    .ne { color: $yellow } /* Name.Exception */
    .nf { color: $blue } /* Name.Function */
    .nl { color: $base0 } /* Name.Label */
    .nn { color: $cyan } /* Name.Namespace */
    .nx { color: $blue } /* Name.Other */
    .py { color: $base0 } /* Name.Property */
    .nt { color: $red } /* Name.Tag */
    .nv { color: $base0 } /* Name.Variable */
    .ow { color: $red } /* Operator.Word */
    .w { color: $base0 } /* Text.Whitespace */
    .mf { color: $cyan } /* Literal.Number.Float */
    .mh { color: $cyan } /* Literal.Number.Hex */
    .mi { color: $cyan } /* Literal.Number.Integer */
    .mo { color: $cyan } /* Literal.Number.Oct */
    .sb { color: $cyan } /* Literal.String.Backtick */
    .sc { color: $cyan } /* Literal.String.Char */
    .sd { color: $cyan } /* Literal.String.Doc */
    .s2 { color: $cyan } /* Literal.String.Double */
    .se { color: $cyan } /* Literal.String.Escape */
    .sh { color: $cyan } /* Literal.String.Heredoc */
    .si { color: $cyan } /* Literal.String.Interpol */
    .sx { color: $cyan } /* Literal.String.Other */
    .sr { color: $cyan } /* Literal.String.Regex */
    .s1 { color: $cyan } /* Literal.String.Single */
    .ss { color: $cyan } /* Literal.String.Symbol */
    .bp { color: $cyan } /* Name.Builtin.Pseudo */
    .vc { color: $base0 } /* Name.Variable.Class */
    .vg { color: $base0 } /* Name.Variable.Global */
    .vi { color: $base0 } /* Name.Variable.Instance */
    .il { color: $cyan } /* Literal.Number.Integer.Long */

    .gh { } /* Generic Heading & Diff Header */
    .gu { color: $base01; } /* Generic.Subheading & Diff Unified/Comment? */
    .gd { color: $red; } /* Generic.Deleted & Diff Deleted */
    .gi { color: $blue; } /* Generic.Inserted & Diff Inserted */
